<h5><a href="/categories/<%= @post.category_id %>">GO BAK TO <%= @post.category.name %></a></h5>

<h2><%= @post.name %></h2>
<li>$<%= @post.price %></li>
<li><%= @post.email %></li>
<li><%= @post.secret_key %></li>
